# Dependencies
node_modules/
*/node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache
.cache/
*/.cache/

# Build
/client/build

# Environnement
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Fichiers Mac
.DS_Store

# Fichiers temporaires
*.tmp
*.swp
